{% extends "base.html" %}
{% load static %}

{% block band_bio %}

<div class="container">

<!-- <section class="section"> -->
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-3 card" style="width: 18rem;">
          <img src="{% static "img/bandmember.jpg" %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">NAME</h5>
            <p class="card-text">Instrument</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          </div>
        </div>
        <div class="col-md-3 card" style="width: 18rem;">
          <img src="{% static "img/bandmember.jpg" %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Instrument</p>

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="col-md-3 card" style="width: 18rem;">
          <img src="{% static "img/bandmember.jpg" %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Instrument</p>

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="col-md-3 card" style="width: 18rem;">
          <img src="{% static "img/bandmember.jpg" %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Instrument</p>

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div>
</div> <!-- /container -->

{% endblock band_bio %}
