<nav class="navbar navbar-expand-md fixed-top container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarCollapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tour Dates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Merch</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>

        </ul>

    </div>
    <div class="socials circles nav navbar-nav flex-row justify-content-md-center justify-content-end flex-nowrap">
            <a class="fa fa-facebook" href="https:/www.facebook.com/personality.contest"></a>
            <a class="fa fa-twitter" href="https:/www.twitter.com/personality.contest"></a>
            <a class="fa fa-instagram" href="https:/www.instagram.com/personality.contest"></a>
            <a class="fa fa-soundcloud" href="https:/www.soundcloud.com/personality-contest"></a>

        </li>
    </div>
</nav>
