{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Upcoming Shows</title>
{% endblock title %}

{% block extra_css %}
<link media='screen, print' rel="stylesheet" type="text/css" href="{% static "css/shows.css" %}">
{% endblock extra_css %}

{% block main_content %}
<div id="shows" class="container-fluid">
    <h3>UPCOMING DATES:</h3>
    {% if shows.exists %}
        {% for show in shows %}
        <div class="row">
            <div class="col-lg-2 col-sm-3 col-5 show-date"><span>{{show.date}}</span></div>
            <div class="col text-left">{{show.city}}, {{show.state}}@<i>{{show.venue}}</i></div>
        </div>
        {% endfor %}
    {% else %}
    <h5> No upcoming shows. Sorry! I love you!</h5>
    {% endif %}
</div>
{% endblock main_content %}
