
:root{
    --bg-img-width: 1200px;
}

html {
    -webkit-font-smoothing: antialiased;
}
body {
  font-family: "Gotham HTF", Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(0, 0, 0);

}

input {
    font-family: Helvetica;
}
main {
    background: repeating-linear-gradient(#0202521c, #3b056d26, #0202521c 25%);
}

main button {
    border-radius: 1px;
}

li {
    list-style: none;
}

.image {
    margin: -100px 0;
}

.img-frame {
    display: inline-block;
    overflow: hidden;
    width: 800px;
    height: 600px;
    border: 10px solid #000;
}

.jumbotron {
    background-color: unset;
}

#email_signup_modal * {
    border-radius: 1px;
}

#email_signup_modal .modal-content {
    outline: 20px solid whitesmoke;
    background-image: url("../img/dat_boi.gif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid rgba(0, 0, 0, 0.2);
}

#email_signup_modal .modal-header {
    border-bottom: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#email_signup_modal .modal-footer {
    border-top: none;
    margin: 0.75rem
    padding: none;
}
#email_signup_modal .modal-dialog {
    position: absolute;
    right: 20px;
    top: 50%;
}

/* allows scrolling and prevents background dark when modal opens */
.modal-open {
    overflow: unset;
}

#music_links {
    padding: 50px 0;
}

.spotify {
    border-color: whitesmoken;
    border-style: outset;
    margin: 10px 0;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2') format('woff2'),url('../fonts/fontawesome-webfont.woff') format('woff'),url('../fonts/fontawesome-webfont.ttf') format('truetype'),url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Gotham HTF";
    src: url("../fonts/GothamHTF-Book.woff2?vf4057ea9afb414ae333b9283a36fd2e5") format("woff2"), url("../fonts/GothamHTF-Book.woff?v8094e6de84c78ffd539ba932f1b37ab4") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham HTF";
    src: url("../fonts/GothamHTF-Medium.woff2?v6183022dd83a75dd52cf45841488bdcb") format("woff2"), url("../fonts/GothamHTF-Medium.woff?v2d2a7a2f223037b02454651709b04680") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gotham HTF";
    src: url("../fonts/GothamHTF-Bold.woff2?v4ba3539066073644e7ffc6374a3e1a62") format("woff2"), url("../fonts/GothamHTF-Bold.woff?vbb9c4c29e6fbfe44b1e4a4cab92f8f0d") format("woff");
    font-weight: 700;
    font-style: normal;
}


@media (min-width: 768px) {
    .nav-item:first-child {
        margin-left: 120px;
    }
    footer {
        font-size: 13px;
        /* line-height: 2em; */
        font-weight: 500;
    }
}

nav {
    background-color: rgba(0, 0, 0, 0.9);
    color: azure;
    border-bottom: 5px solid wheat;

}
footer {
    color: white;
    text-align: start;
    padding: 1.25rem 0 !important;
    margin: 1.25rem 0;
    /* background-color: rgba(3, 11, 21, 1); */
    /* box-shadow: 0 3px 5px 4px #80757500, 0 4px 7px 4px #ffc50047; */

}

.navbar {
    padding: 0.25rem 0.5rem;
}

.navbar-nav * a{
    padding: 0 !important;
    font-weight: 700;
    margin-right: 15px;
    color: azure;
    letter-spacing: 0.2em;
    line-height: 1;
    font-size: 13px;
    text-transform: uppercase;
}

.privacy-policy:hover,  .nav-link:hover {
    text-decoration: none;
    color: white;
    border-bottom: 1.4px solid rgba(255, 255, 255, 1);

}

.nav-link, .privacy-policy {
    color: white;
    text-decoration: none;
    border-bottom: 1.4px solid rgba(255, 255, 255, 0);
    transition: border-color 333ms ease;
}
/* .nav-link:hover {
    border-bottom: 1.4px solid rgba(255, 255, 255, 1);
} */

.music-links-item {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-bottom: 10px;
}
.music-links-item:first-child {
    margin-left: 0;
}

.socials.circles a{
    -webkit-border-radius: 13px;
    border-radius: 13px;
}


.socials a {
    display: inline-block;
    margin-left: 4px;
    background-color: #fff;
    color: #000;
    height: 26px;
    width: 26px;
    line-height: 26px;
    text-decoration: none !important;
    font-size: 16px;
    transition: background-color .3s, color .3s, opacity .3s;
    vertical-align: middle;
}

a.fa-bandcamp {
    background-image: url("/static/img/bandcamp-circle-white/bandcamp-button-bc-circle-white-512.png");
    background-size: contain;
    transition: background-image ease-in-out 0.3s;
}

a.fa-bandcamp::before {
    content: "";
}

a.fa-bandcamp:hover {
    background-image: url("/static/img/bandcamp-circle-aqua/bandcamp-button-bc-circle-aqua-512.png");
    background-size: contain;
}

.socials a:first-child{
    margin-left: 0;
}

.socials a:hover {
    color: #fff;
    opacity: 1;
}

.fa-facebook:hover {
    background-color: #4A73C9;
}
.fa-twitter:hover {
    background-color: #00A0D1;
}
.fa-instagram:hover {
    background-color: #3F729B;
}
.fa-soundcloud:hover {
    background-color: #f34a07;
}

.container:first-child {
    padding-top: 100px;
    padding-bottom: 20px;
}

.container-fluid {
    width: 90%
}

.policies {
    font-size: 10px;
}

#mailing_list {
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.5px;
    word-spacing: -0.5px;
}

#mailing_list * {
    border-radius: 1px;
}

#mailing_list_email {
    background-color: transparent;
    border-color: wheat;
    color: white;
}

#mailing_list_submit, #email_popup_trigger {
    border-radius: 1px;
    background-color: transparent;
    border-color: white;
    color: white;
    transition: all 333ms ease;
}

#mailing_list_submit:hover, #email_popup_trigger:hover {
    background-color: white;
    border-color: white;
    color: black;
}

.image-container {
    display: flex;
    justify-content: center;
}

#band_photo {
    height: var(--bg-img-width);
    width: var(--bg-img-width);
    flex: none;
}

.image-container::after {
    box-shadow:
        -1px 2px 10px 5px #000000,
        2px 0px 10px 5px #000000,
        0px 0px 20px 10px rgba(0, 0, 0, 0.71),
        0px 0px 40px 2px #000000,
        inset 1px 1px 40px 2px #000000,
        inset 3px 1px 10px 2px #000000,
        inset 1px 3px 10px 2px #000000,
        inset 1px 1px 6px 2px #000000,
        inset 1px 1px 20px 7px #000000;
     content: '';
     display: block;
     position: absolute;
     top: 100px;
     width: var(--bg-img-width);
     height: var(--bg-img-width);
}

.image {
    margin: -100px 0;
}

.img-frame {
    display: inline-block;
    overflow: hidden;
    width: 800px;
    height: 600px;
    border: 10px solid #000;
}

@media only screen and (max-width: 1300px) {
    :root {
        --bg-img-width: 1000px;
    }
}

@media only screen and (max-width: 1100px) {
    :root {
        --bg-img-width: 900px;
    }
}

@media only screen and (max-width: 900px) {
    :root {
        --bg-img-width: 700px;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --bg-img-width: 620px;
    }

    a.nav-link {
        padding: 0.5rem 1rem !important;
        margin-right: 0;
    }

    a.nav-link:hover {
        background-color: #ffffff40;
    }

}

@media only screen and (max-width: 700px) {
    :root {
        --bg-img-width: 540px;
    }
}


@media only screen and (max-width: 576px){

    #mailing_list_email {
        width: 45%
    }

    :root {
        --bg-img-width: 470px;
    }
}

@media only screen and (max-width: 500px) {
    :root {
        --bg-img-width: 420px;
    }
}

@media only screen and (max-width: 400px) {
    :root {
        --bg-img-width: 330px;
    }
}
