#shows {
    color: white;
    margin-bottom: 2rem;
}

#shows > .row{
    margin-top: 0.5rem;
}

#shows h3 {
    margin-bottom: 1.5rem;
}

td.location {
    text-align: left;
    padding-bottom: 0.5rem;
}


td.show-date {
    text-align: left;
    padding-right: 20px;
    padding-bottom: 0.5rem;
}


@media only screen and (max-width: 768px) {
    td.show-date {
        padding-right: 10px;
    }
}
